---
apiVersion: tekton.dev/v1alpha1
kind: TriggerTemplate
metadata:
  name: {{ include "project-github-webhook.fullname" . }}-trigger-template
  namespace: {{ .Release.Namespace }}
  labels:
    helm.sh/chart: {{ include "project-github-webhook.chart" . }}
    app.kubernetes.io/name: {{ include "project-github-webhook.name" . }}-trigger-template
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/part-of: datapio
spec:
  params:
    - name: revision
      description: The git revision
      default: master
    - name: remote
      description: The git repository url
  resourcetemplates:
    - apiVersion: tekton.dev/v1alpha1
      kind: PipelineResource
      metadata:
        name: git-source-$(uid)
      spec:
        type: git
        params:
          - name: revision
            value: $(params.revision)
          - name: url
            value: $(params.remote)
    - apiVersion: tekton.dev/v1alpha1
      kind: TaskRun
      metadata:
        generateName: scan-repository
        labels:
          helm.sh/chart: {{ include "project-github-webhook.chart" . }}
          app.kubernetes.io/name: {{ include "project-github-webhook.name" . }}-scan-repository
          app.kubernetes.io/instance: {{ .Release.Name }}
          app.kubernetes.io/managed-by: {{ .Release.Service }}
          app.kubernetes.io/part-of: datapio
      spec:
        resources:
          - name: workspace
            resourceRef:
              resource: git-source-$(uid)
        taskSpec:
          inputs:
            resources:
              - name: workspace
                type: git
          steps:
            - name: read-datapio-yml
              image: "{{ .Values.scanRepository.image.name }}:{{ .Values.scanRepository.image.tag }}"
              env:
                - name: RESOURCE_NAME
                  value: git-source-$(uid)
