---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "tekton.fullname" . }}-pipelines-controller
  namespace: {{ .Release.Namespace }}
  labels:
    helm.sh/chart: {{ include "tekton.chart" . }}
    app.kubernetes.io/name: {{ include "tekton.name" . }}-pipelines-controller
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/part-of: datapio
spec:
  ports:
    - name: metrics
      port: 9090
      protocol: TCP
      targetPort: 9090
  selector:
    app.kubernetes.io/name: {{ include "tekton.chart" . }}-pipelines-controller
