webhook:
  replicaCount: 1

  image:
    repository: docker.pkg.github.io/datapio/opencore/secret-injector
    tag: latest
    pullPolicy: Always

  nameOverride: ""
  fullnameOverride: ""

  service:
    type: ClusterIP
    port: 80

  resources:
    cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi

  nodeSelector: {}
  tolerations: []
  affinity: {}
